<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>


<div id="myModal" class="really-sure-modal">
  <div class='really_sure_heading warn'>
    Warning
  </div>

     <p class="really_sure_description">Deleting this item is permanent. You cannot undo this action. Please type the word "DELETE" below to proceed</p>
     <a class="close-really-sure-modal">&#215;</a>
     <input type="text" class="really-sure-input">

</div>

<a href="#" data-really-sure-id="myModal">Click Me For A Modal</a>